{
    "extends": [
        "eslint-config-mosaic"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "react/jsx-uses-react": 1,
        "react/prop-types": 0
    }
}